$white: #FFFFFF;
$bunker: #181f23;
$grey: #63666B;
$woodsmoke: #14191D;

$green: #05a46c;
$yellow: #f8ec12;
$red: #fa305a;

$matisse: #1E81A0;
$fountain-blue: #61A8BC;
$half-baked: #90C1D0;
$outer-space: #2C3339;

$aquamarine-blue: #6AC8E2;
$dark-dot-background: linear-gradient(180deg, #175560 0%, #1F667E 100%);
