.widget {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.system-status-widget {
  font-size: 20px;
  font-weight: 100;
  .event {
    padding: 20px 0;
    border-top: 1px solid $grey;
    h3, p {
      margin: 0;
    }

    .description {
      opacity: 0.8;
    }

    &.first {
      border: none;
      padding-top: 0;
      .date {
        font-size: 48px;
      }
    }
    &:last-child {
      padding-bottom: 11px;
    }
  }
}

.gruppe-widget {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.sheduling-widget {
  .status-dot {
    margin-left: auto;
  }
}